DISCORD_TOKEN=your_token_here
DATABASE_URL=postgresql://neondb_owner:npg_CDiqPe2oZaM7@ep-blue-pond-ady4tfey-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GUILD_ID=1409892747485380746
